.DS_Store
/.gradle
/.project
/.settings
/.vscode
/build

apigw-otel-instrumentation/.DS_Store
apigw-otel-instrumentation/.gradle
apigw-otel-instrumentation/.project
apigw-otel-instrumentation/.settings
apigw-otel-instrumentation/.classpath
apigw-otel-instrumentation/.vscode
apigw-otel-instrumentation/build
apigw-otel-instrumentation/bin

apigw-otel-runtime/.DS_Store
apigw-otel-runtime/.gradle
apigw-otel-runtime/.project
apigw-otel-runtime/.settings
apigw-otel-runtime/.classpath
apigw-otel-runtime/.vscode
apigw-otel-runtime/build
apigw-otel-runtime/bin

apigw-otel-shared/.DS_Store
apigw-otel-shared/.gradle
apigw-otel-shared/.project
apigw-otel-shared/.settings
apigw-otel-shared/.classpath
apigw-otel-shared/.vscode
apigw-otel-shared/build
apigw-otel-shared/bin
